* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url("https://source.unsplash.com/1920x1080/?landscape");
}

input {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 20px;
  font-size: 20px;
  background-color: #7c7c7c2b;
  color: white;
  width: calc(100%-100px);
}

.lupa {
  height: 25px;
}

button {
  border: none;
  outline: none;
  padding: 13px;
  border-radius: 50px;
  background-color: #7c7c7c2b;
  float: right;
}

button:hover {
  background-color: #7c7c7c6b;
  cursor: pointer;
}

.caixa-maior {
  background-color: #000000;
  width: 95%; /* Largura */
  max-width: 430px;
  opacity: 0.9;
  padding: 20px;
  border-radius: 30px;
  box-shadow:2px 2px 1px rgba(0, 0, 0, 0.192);
}

.caixa-media{
margin-top: 20px;
margin: 10px;


}

.caixa-menor-ainda{
display: flex;
margin-top: 15px;
}




h2 {
  color: white;
  font-size: 28px;
}

.temp {
  color: white;
  margin-top: 15px;
  font-size: 30px;
  text-shadow: 2px 2px rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
span{
  text-shadow: 2px 2px rgba(255, 255, 255, 0.2)

}

.imgicon{
width: 85px;
height: 85px;

}

.descricao {
  font-size: 20px;
  color: white;
  text-transform: capitalize;
  margin-left: 20px;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}

.umidade {
  color: white;
  margin-top: 40px;
}

.nuvem{

  height: 50px;
  margin-right: 10px;
}


